<ul class="mega-menu d-block">
  <div class="d-flex">
  <li class="d-flex custom-dropdown-menu">
    <ul class="d-block">
      <li class="title"><a class="categoryClicked" name="101">소파/안락의자</a></li>
      <li><a class="categoryClicked" name="10101">일반소파</a></li>
      <li><a class="categoryClicked" name="10101">리클라이너소파</a></li>
      <li><a class="categoryClicked" name="10101">소파베드</a></li>
      <li><a class="categoryClicked" name="10101">안락의자/빈백</a></li>
    </ul>
    <ul class="d-block">
      <li class="title"><a class="categoryClicked" name="101">밥상/테이블</a></li>
    </ul>
    <ul>
      <li class="title"><a class="categoryClicked" name="101">스툴</a></li>
    </ul>
    <!-- <ul class="d-block">
      <li class="title"><a href="#">티비장</a></li>
      <li><a href="#">일반 티비장</a></li>
      <li><a href="#">확장형 티비장</a></li>
      <li><a href="#">월플렉스 티비장</a></li>
      <li><a href="#">티비 거치대</a></li>
    </ul> -->
    <!-- <ul class="d-block">
      <li class="title"><a href="#">티비장</a></li>
      <li><a href="#">일반 티비장</a></li>
      <li><a href="#">확장형 티비장</a></li>
      <li><a href="#">월플렉스 티비장</a></li>
      <li><a href="#">티비 거치대</a></li>
    </ul> -->
  </li>
  <ul class="d-block img-33 custom-float-control custom-ddimg-margin">
    <img class="img-responsive" src="assets/images/slider-image/slider-1.png" alt="">
  <!-- <li>
    <a class="p-0" href="#"><img class="img-responsive h-100" src="assets/images/slider-image/slider-1.png" alt=""></a>
  </li> -->
  </ul>


  <!-- <li>
    <ul class="menu-banner w-100">
      <li>
        <a class="p-0" href="#"><img class="img-responsive w-100" src="assets/images/slider-image/slider-1.png" alt=""></a>
      </li>
      <li>
        <a class="p-0" href="#"><img class="img-responsive w-100" src="assets/images/slider-image/slider-1.png" alt=""></a>
      </li>
    </ul>
  </li> -->
</div>
</ul>
