<div class="row">
  <div class="col-md-12 text-center mb-8" data-aos="fade-up" data-aos-delay="200">
    <div class="left-sidebar shop-sidebar-wrap">
      <div class="sidebar-widget mt-40px">
        <div class="sidebar-widget-tag d-inline-block">
          <ul>
            <li class="medium-cate-tab"><a class="active" name="#pc-furniture">게이밍 가구</a></li>
            <li class="medium-cate-tab"><a name="#pc-goods">게이밍 용품</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row show" id="pc-furniture">
  <%include ./product-list-pc-rcmd/product-list-pc-furniture %>
</div>
<div class="row d-none" id="pc-goods">
  <%include ./product-list-pc-rcmd/product-list-pc-goods %>
</div>
