<div class="row">
  <div class="col-md-12 text-center mb-8" data-aos="fade-up" data-aos-delay="200">
    <div class="left-sidebar shop-sidebar-wrap">
      <div class="sidebar-widget mt-40px">
        <div class="sidebar-widget-tag d-inline-block">
          <ul>
            <li class="medium-cate-tab"><a class="active" name="#party-decor">파티장식</a></li>
            <li class="medium-cate-tab"><a name="#party-prop">파티소품</a></li>
            <li class="medium-cate-tab"><a name="#party-goods">파티용품</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row show" id="party-decor">
  <%include ./product-list-party-rcmd/product-list-party-decor %>
</div>
<div class="row d-none" id="party-prop">
  <%include ./product-list-party-rcmd/product-list-party-prop %>
</div>
<div class="row d-none" id="party-goods">
  <%include ./product-list-party-rcmd/product-list-party-goods %>
</div>
