<div class="row">
  <div class="col-md-12 text-center mb-8" data-aos="fade-up" data-aos-delay="200">
    <div class="left-sidebar shop-sidebar-wrap">
      <div class="sidebar-widget mt-40px">
        <div class="sidebar-widget-tag d-inline-block">
          <ul>
            <li class="medium-cate-tab"><a class="active" name="#cafe-table">테이블</a></li>
            <li class="medium-cate-tab"><a name="#cafe-cup">잔</a></li>
            <li class="medium-cate-tab"><a name="#cafe-dish">식기</a></li>
            <li class="medium-cate-tab"><a name="#cafe-fabric">식탁보/테이블 매트/트레이</a></li>
            <li class="medium-cate-tab"><a name="#cafe-elec">가전제품</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row show" id="cafe-table">
  <%include ./product-list-cafe-rcmd/product-list-cafe-table %>
</div>
<div class="row d-none" id="cafe-cup">
  <%include ./product-list-cafe-rcmd/product-list-cafe-cup %>
</div>
<div class="row d-none" id="cafe-dish">
  <%include ./product-list-cafe-rcmd/product-list-cafe-dish %>
</div>
<div class="row d-none" id="cafe-fabric">
  <%include ./product-list-cafe-rcmd/product-list-cafe-fabric %>
</div>
<div class="row d-none" id="cafe-elec">
  <%include ./product-list-cafe-rcmd/product-list-cafe-elec %>
</div>
