<div class="header section">
  <!-- Mobile START -->
  <div class="header-bottom d-lg-none sticky-nav">
    <div class="container position-relative">
      <div class="row">
        <div class="col-3 align-self-center">
          <div class="header-actions justify-content-start">
            <a href="#offcanvas-mobile-menu" class="header-action-btn offcanvas-toggle d-lg-none">
              <i class="icon-menu"></i>
            </a>
          </div>
        </div>
        <!-- Header Logo Start -->
        <div class="col-6 text-center">
          <div class>
            <a href="/"><img class="logo" src="/assets/images/logo/logo.png" alt="Site Logo" /></a>
          </div>
        </div>
        <!-- Header Logo End -->

        <!-- Header Action Start -->

        <div class="col-3 align-self-center">
          <div class="header-actions justify-content-end">
            <div class="header_account_list">
              <a href="javascript:void(0)" class="header-action-btn search-btn"><i class="icon-magnifier"></i></a>
              <div class="dropdown_search">
                <form class="action-form" action="#">
                  <input class="form-control" placeholder="나인소 통합검색" type="text" />
                  <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                </form>
              </div>
            </div>
            <!-- Single Wedge End -->
            <!-- <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
              <span class="custom-icon-storage">
            </a> -->
          </div>
        </div>
        <!-- Header Action End -->
      </div>
    </div>
  </div>

  <!-- Mobile END -->

  <!-- Header Bottom  End -->
  <!-- Main Menu Start -->
  <div class="top-wrap sticky-nav">
    <div class="wrap">
      <div class="bg-white d-none d-lg-block">
        <div class="container position-relative">
          <div class="row">
            <div class="col align-self-center"></div>
            <div class="col align-self-center">
              <div class="header-logo">
                <div class="container center-align">
                  <a href="/"><img class="logo" src="/assets/images/logo/logo.png" alt="Site Logo" /></a>
                </div>
              </div>
            </div>
            <div class="col align-self-center">
              <form class="action-form padding-control" action="#">
                <input class="form-control" placeholder="나인소 통합검색" type="text" />
                <button class="submit button-position-absolute" type="submit"><i class="icon-magnifier"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white d-none d-lg-block">
      <div class="container position-relative custom-nav-cate">
        <div class="row">
          <div class="col">

          </div>
          <div class="col-9 align-self-center">
            <div class="main-menu">
              <ul>
                <li class="dropdown position-static margin-eraser">
                  <a href="#">홈카페</a>
                  <%include ../navList/nav-list-cafe %>
                </li>
                <li class="dropdown position-static  margin-eraser">
                  <a href="#">집돌이/집순이</a>
                  <%include ../navList/nav-list-home %>
                </li>
                <li class="dropdown position-static  margin-eraser">
                  <a href="#">홈파티</a>
                  <%include ../navList/nav-list-party %>
                </li>
                <li class="dropdown position-static  margin-eraser">
                  <a href="#">원룸PC방</a>
                  <%include ../navList/nav-list-pc %>
                </li>
                <li class="dropdown position-static  margin-eraser">
                  <a href="#">침실가구</a>
                  <%include ../navList/nav-list-bed %>
                </li>
                <li class="dropdown position-static  margin-eraser">
                  <a href="#">거실가구</a>
                  <%include ../navList/nav-list-living %>
                </li>
                <li class="dropdown position-static  margin-eraser">
                  <a href="#">수납가구</a>
                  <%include ../navList/nav-list-storage %>
                </li>
                <li class="dropdown position-static  margin-eraser">
                  <a href="#">서재가구</a>
                  <%include ../navList/nav-list-book %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Menu End -->
</div>
