<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu d-lg-none">
  <button class="offcanvas-close"></button>
  <div class="inner customScroll">

    <div class="offcanvas-menu mb-4">
      <ul>
        <li><a href="#" class="force-border-bottom"><span class="menu-text">침실가구</span></a>
          <ul class="sub-menu">
            <li class="middle-category"><b>침대</b></li>
            <li><a href="/product-medium"><span class="menu-text">일반침대</span></a></li>
            <li><a href="#"><span class="menu-text">수납침대</span></a></li>
            <li><a href="#"><span class="menu-text">벙커침대</span></a></li>
            <li><a href="#" class="force-border-bottom"><span class="menu-text ">깔판</span></a></li>
            <li class="middle-category"><b>매트리스/토퍼</b></li>
            <li><a href="/product-medium"><span class="menu-text">매트리스</span></a></li>
            <li><a href="#" class="force-border-bottom"><span class="menu-text">토퍼</span></a></li>
            <li class="middle-category-only force-border-bottom"><b>화장대</b></li>
            <li class="middle-category-only force-border-bottom"><b>거울</b></li>
            <li class="middle-category-only"><b>협탁/사이드테이블</b></li>
          </ul>
        </li>
        <li><a href="#" class="force-border-bottom"><span class="menu-text">거실가구</span></a>
          <ul class="sub-menu">
            <li class="middle-category force-border-bottom"><b>소파/안락의자</b></li>
            <li><a href="/product-medium"><span class="menu-text">일반소파</span></a></li>
            <li><a href="#"><span class="menu-text">리클라이너소파</span></a></li>
            <li><a href="#"><span class="menu-text">소파베드</span></a></li>
            <li><a href="#" class="force-border-bottom"><span class="menu-text">안락의자/빈백</span></a></li>
            <li class="middle-category-only force-border-bottom"><b>거울</b></li>
            <li class="middle-category-only"><b>협탁/사이드테이블</b></li>
          </ul>
        <li><a href="#" class="force-border-bottom"><span class="menu-text">수납가구</span></a>
          <ul class="sub-menu">
            <li class="middle-category-only"><b>서랍장</b></li>
            <li><a href="#"><span class="menu-text">선반</span></a></li>
            <li><a href="#"><span class="menu-text">렌지대</span></a></li>
            <li class="middle-category"><b>옷장/행거</b></li>
            <li><a href="#"><span class="menu-text">옷장</span></a></li>
            <li><a href="#"><span class="menu-text">행거</span></a></li>
          </ul>
        <li><a href="#" class="force-border-bottom"><span class="menu-text">서재가구</span></a>
          <ul class="sub-menu">
            <li class="middle-category-only force-border-bottom"><b>책상</b></li>
            <li class="middle-category"><b>의자</b></li>
            <li><a href="#"><span class="menu-text">책상의자</span></a></li>
            <li><a href="#" class="force-border-bottom"><span class="menu-text">인테리어의자</span></a></li>
            <li class="middle-category-only"><b>책장</b></li>
          </ul>
        <li><a href="#" class="force-border-bottom"><span class="menu-text">홈카페</span></a>
          <ul class="sub-menu">
            <li class="middle-category-only force-border-bottom"><b>테이블</b></li>
            <li class="middle-category-only force-border-bottom"><b>잔</b></li>
            <li class="middle-category-only force-border-bottom"><b>식기</b></li>
            <li class="middle-category-only force-border-bottom"><b>식탁보/테이블 매트/트레이</b></li>
            <li class="middle-category-only"><b>가전제품</b></li>
          </ul>
        </li>
        <li><a href="#" class="force-border-bottom"><span class="menu-text">집돌이/집순이</span></a>
          <ul class="sub-menu">
            <li class="middle-category-only force-border-bottom"><b>가구</b></li>
            <li class="middle-category-only force-border-bottom"><b>쿠션</b></li>
            <li class="middle-category-only force-border-bottom"><b>거치대</b></li>
            <li class="middle-category-only force-border-bottom"><b>가전제품</b></li>
            <li class="middle-category-only"><b>놀기</b></li>
          </ul>
        </li>
        <li><a href="#" class="force-border-bottom"><span class="menu-text">홈파티</span></a>
          <ul class="sub-menu">
            <li class="middle-category-only force-border-bottom"><b>파티장식</b></li>
            <li class="middle-category-only force-border-bottom"><b>파티소품</b></li>
            <li class="middle-category-only"><b>파티용품</b></li>
          </ul>
        </li>
        <li><a href="#" class="force-border-bottom"><span class="menu-text">겜돌이/겜순이</span></a>
          <ul class="sub-menu">
            <li class="middle-category-only force-border-bottom"><b>게이밍 가구</b></li>
            <li class="middle-category-only force-border-bottom"><b>게이밍 용품</b></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- OffCanvas Menu End -->

    <!-- Language Currency start -->
    <!-- <div class="offcanvas-userpanel mt-8">
      <ul> -->
        <!-- Language Start -->
        <!-- <li class="offcanvas-userpanel__role">
          <a href="#">Menu <i class="ion-ios-arrow-down"></i></a>
          <ul class="user-sub-menu">
            <li><a class="current" href="#">item1</a></li>
            <li><a href="#">item1</a></li>
            <li><a href="#">item2</a></li>
            <li><a href="#">item3</a></li>
          </ul>
        </li> -->
        <!-- Language End -->
        <!-- Currency Start -->
        <!-- <li class="offcanvas-userpanel__role">
          <a href="#">Menu <i class="ion-ios-arrow-down"></i></a>
          <ul class="user-sub-menu">
            <li><a class="current" href="#">item1</a></li>
            <li><a href="#">item1</a></li>
            <li><a href="#">item2</a></li>
            <li><a href="#">item3</a></li>
          </ul>
        </li> -->
        <!-- Currency End -->
      <!-- </ul>
    </div> -->
    <!-- Language Currency End -->
    <div class="offcanvas-social mt-auto">
      <div class="custom-container text-center">
        <ul>
          <li>
            <a href="#"><i class="ion-social-facebook"></i></a>
          </li>
          <!-- <li>
            <a href="#"><i class="ion-social-twitter"></i></a>
          </li> -->
          <li>
            <a href="#"><i class="ion-social-google"></i></a>
          </li>
          <!-- <li>
            <a href="#"><i class="ion-social-youtube"></i></a>
          </li> -->
          <li>
            <a href="#"><i class="ion-social-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
